@import 'Layout.scss';

@include change-theme($themes) {

  .UserFeed {
    background: t('home');
    color: t('text');
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 4;
    margin: 1rem;
    padding: 0;

    @include respond(small) {
      margin-top: 2rem;
      width: 100%;
    }

    .HomeStories {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      width: 80%;
      height: 30%;

      @include respond(small) {
        height: 20%;
        width: 90%;
      }
    }

    .HomePosts {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}