@import "Layout";

@include change-theme($themes) {
  .PostItem {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    max-height: 2000px;
    border-radius: 10px;
    background-color: t('bg');

    .User {
      position: relative;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;

      .UserInfo {

        position: relative;
        display: flex;
        gap: 0.25rem;

        img {
          position: absolute;
          top: 15px;
          left: 0px;

          border-radius: 50%;
          height: 40px;
          width: 40px;
        }

        span {

          position: absolute;
          top: 12px;
          left: 45px;
          display: flex;
          justify-content: flex-start;
          min-width: 200px;

        }

        .date {
          width: 200px;
          position: absolute;
          top: 32px;
          left: 45px;
          display: flex;
          align-items: flex-end;

        }
      }

      .PostOptions {
        position: absolute;
        top: 20px;
        right: 0;

        @include respond(small) {
          top: 0;
          right: 20px;
        }
      }
    }

    .Content {

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 93%;
      margin-top: 1.5rem;
      padding: 1rem;

      @include respond(small) {
        width: 85%;
      }

      img {
        width: 100%;
        max-height: 500px;
        border-radius: 5px;
      }
    }

    .Interactions {
      width: 80%;
      margin-left: 1rem;
      margin-bottom: 0.5rem;

      .icons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        min-width: 175px;
        width: 100%;

        @include respond(small) {
          span {
            display: none;
          }
        }

        .like-icon  {
          display: flex;
          align-items: center;
          gap: 0.25rem;

          svg {
            &:hover {
              cursor:pointer;
              fill: #F06292;
            }
          }
        }

        .comment-icon {
          display: flex;
          align-items: center;
          gap: 0.25rem;

          svg {
            &:hover {
              cursor:pointer;
              fill: #505050;
            }
          }
        }
      }
    }

    #Comments {

      width: 100%;
      transform: translateY(-100%);
      -webkit-transform: translateY(-100%);

      .MakeComment {

        display: flex;
        align-items: center;

        margin: 1rem 0 1rem 1rem;
        gap: 1rem;
        width: 90%;


        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }


        .comment-area {
          width: 80%;
          padding: 0.75rem;
          resize: none;
          font-size: 15px;
          border-radius: 5px;

          &:focus {
            outline: none;
          }
        }

        .send-comment-icon {
          cursor: pointer;
        }
      }
    }

    .slide-in {
      animation: slide-in 0.5s forwards;
      -webkit-animation: slide-in 0.5s forwards;
    }

    .slide-out {
      animation: slide-out 0.5s forwards;
      -webkit-animation: slide-out 0.5s forwards;
    }

    @keyframes slide-in {
      100% { transform: translateY(0%); }
    }

    @-webkit-keyframes slide-in {
      100% { -webkit-transform: translateY(0%); }
    }

    @keyframes slide-out {
      0% { transform: translateY(100%); }
      100% { transform: translateY(0%); }
    }

    @-webkit-keyframes slide-out {
      0% { -webkit-transform: translateY(100%); }
      100% { -webkit-transform: translateY(0%); }
    }


  }
}