@import 'Layout.scss';


@include change-theme($themes) {
  .rightbar {
    width: 15%;
    position: sticky;
    right: 0;
    top: 5.5rem;
    height: calc(100vh - 6.5rem);
    display: flex;
    flex: 1;
    color: t('text');

    @include respond(not-max) {
      display: none;
    }

    .container {
      display: flex;
      flex-direction: column;
      margin: 1rem auto;
      height: 100%;
      min-width: 150px;

      .recent-activities {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        height: 33%;
        margin-bottom: 1rem;
        padding: 0 1rem;
        background-color: t('bg-secondary');
        border-radius: 5px;
        box-shadow: -2px 2px 2px grey;
        width: 90%;

      }

      .online-friends-container {
        display: flex;
        flex-direction: column;
        height: 33%;
        overflow: scroll;
        margin-bottom: 1rem;
        padding: 0 1rem;
        background-color: t('bg-secondary');
        border-radius: 5px;
        box-shadow: -2px 2px 2px grey;
        width: 90%;

        .header {
          display: flex;
          flex-direction: column;
        }

        .online-friends {
          display: flex;
          flex-direction: column;
        }
      }
    }


    .extra {
      display: flex;
      flex-direction: column;
      overflow: scroll;
      width: 90%;
      height: 33%;
      margin-bottom: 1rem;
      padding: 0 1rem;
      background-color: t('bg-secondary');
      border-radius: 5px;
      box-shadow: -2px 2px 2px grey;
    }
  }
}