@import 'Layout.scss';

@include change-theme($themes) {

  .UserFeed {
    background: t('home');
    color: t('text');
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 0;


    .HomeStories {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 15%;
    }

    .HomePosts {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }



}